@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  background-color: oklch(14% 0.005 285.823) !important;
background-image: 
  linear-gradient(oklch(16% 0.006 285.823) 1px, transparent 1px),
  linear-gradient(90deg, oklch(16% 0.006 285.823) 1px, transparent 1px) !important;
  background-size: 20px 20px !important;
}

.checkered-bg {
  background-color: oklch(14% 0.005 285.823) !important;
background-image: 
  linear-gradient(oklch(16% 0.006 285.823) 1px, transparent 1px),
  linear-gradient(90deg, oklch(16% 0.006 285.823) 1px, transparent 1px) !important;
  background-size: 20px 20px !important;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: oklch(83% 0.128 66.29);
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(80% 0.105 251.813);
  --color-secondary-content: oklch(28% 0.091 267.935);
  --color-accent: oklch(81% 0.111 293.571);
  --color-accent-content: oklch(28% 0.141 291.089);
  --color-neutral: oklch(21% 0.006 285.885);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
